pysbol
xlrd
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
fileupload
git+https://github.com/SD2E/synbiohub_adapter.git@v1.1
git+https://github.com/SD2E/sbol-dictionary-writer.git
